.howItWork {
    background-color:#EDF1FA;
    color: #597CF8;
    border: 1px solid #d2e3f6;
    border-radius: 12px;
    padding: 15px 33px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1.5px;
    text-align: center;
    box-shadow: 0 0px 2px rgba(0, 123, 255, 0.15);
}

.howItWorkTitle {
  text-align: center;
  font-weight: 600 !important;
  font-size: 45px;
  letter-spacing: 1px;
  margin-bottom: 100px !important;
}

h5 {
  font-size: 28px;
  font-weight: 600;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
small {
  font-size: 18px !important;
  margin-bottom: 20px !important;
}

/* Slider */
.sliderContainer {
  width: 100%;
  overflow: hidden;
  padding: 3rem 0;
}

.sliderWrapper {
  position: relative;
}

.slideTrack {
  display: flex;
  animation: scroll 10s linear infinite; 
}

.slideTrack:hover {
  animation-play-state: paused;
}

.slide {
  flex-shrink: 0;
  margin: 0 2rem;
}

.slideContent {
  width: 15rem;
  height: 10rem;
  border-radius: 0.5rem;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.3s;
  margin-bottom: 100px !important;
}

.slideContent:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.slideImg {
  width: 95% !important;
  max-height: 100%;
  object-fit: contain;
}

.gradientLeft,
.gradientRight {
  position: absolute;
  top: 0;
  height: 100%;
  width: 8rem;
  pointer-events: none;
}

.gradientLeft {
  left: 0;
  background: linear-gradient(to right, #f9fafb, transparent);
}

.gradientRight {
  right: 0;
  background: linear-gradient(to left, #f9fafb, transparent);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
